<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HomeApp.Common" version="1.0.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net46" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" userInstalled="true" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net452" userInstalled="true" />
  <package id="Xamarin.Automation.Proxy" version="0.1.0.0" targetFramework="net452" userInstalled="true" />
  <package id="Xamarin.Insights" version="1.10.3.111" targetFramework="net452" userInstalled="true" />
  <package id="Xamarin.UITest" version="0.8.0" targetFramework="net452" userInstalled="true" />
</packages>